/hdl/abc.history
/hdl/out.config
/hdl/out.bit
/hdl/out.json
/hdl/out.sim
/hdl/out.txt
/hdl/out.csv
/hdl/*.kate-swp

/apps/Console/Release/*.bin
/apps/Console/Release/*.elf
/apps/Console/Release/*.lst
/apps/Console/Release/*.map
/apps/Console/Release/src/*

/apps/Dhrystone/Release/*.bin
/apps/Dhrystone/Release/*.elf
/apps/Dhrystone/Release/*.lst
/apps/Dhrystone/Release/*.map
/apps/Dhrystone/Release/src/*

/apps/TestC/Release/*.bin
/apps/TestC/Release/*.elf
/apps/TestC/Release/*.lst
/apps/TestC/Release/*.map
/apps/TestC/Release/src/*

/apps/TestCompliance/Release/*.bin
/apps/TestCompliance/Release/*.elf
/apps/TestCompliance/Release/*.lst
/apps/TestCompliance/Release/*.map
/apps/TestCompliance/Release/src/*

/prjtrellis-db

