BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
######### Blue Whale v1 board #########

######### The clock #########
LOCATE COMP "clk_in" SITE "G2";
IOBUF PORT "clk_in" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_in" 50 MHZ;

######### JTAG and SPI FLASH voltage 3.3V and options to boot from SPI flash #########
# write to FLASH possible from user bitstream:
SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=DISABLE SLAVE_PARALLEL_PORT=DISABLE;

######### JTAG #########
# connected to FT231X
# commented out because those are dedicated pins, not directly useable as GPIO
# but could be used by some vendor-specific JTAG bridging (boundary scan) module
#LOCATE COMP "jtag_tdi" SITE "R5"; # FTDI_nRI  FPGA receives
#LOCATE COMP "jtag_tdo" SITE "V4"; # FTDI_nCTS FPGA transmits
#LOCATE COMP "jtag_tck" SITE "T5"; # FTDI_nDSR FPGA receives
#LOCATE COMP "jtag_tms" SITE "U5"; # FTDI_nDCD FPGA receives
#IOBUF PORT "jtag_tdi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tdo" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tck" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
#IOBUF PORT "jtag_tms" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

######### USBSERIAL FTDI-FPGA serial port #########
LOCATE COMP "ftdi_rxd" SITE "L4"; # FPGA transmits to ftdi
LOCATE COMP "ftdi_txd" SITE "M1"; # FPGA receives from ftdi
LOCATE COMP "ftdi_nrts" SITE "M3"; # FPGA receives
LOCATE COMP "ftdi_ndtr" SITE "N1"; # FPGA receives
LOCATE COMP "ftdi_txden" SITE "L3"; # FPGA receives
IOBUF PORT "ftdi_rxd" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ftdi_txd" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_nrts" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_ndtr" PULLMODE=UP IO_TYPE=LVCMOS33;
IOBUF PORT "ftdi_txden" PULLMODE=UP IO_TYPE=LVCMOS33;

######### Onboard LED indicators #########
LOCATE COMP "led[7]" SITE "J1";
LOCATE COMP "led[6]" SITE "H1";
LOCATE COMP "led[5]" SITE "H2";
LOCATE COMP "led[4]" SITE "G1";
LOCATE COMP "led[3]" SITE "A18";
LOCATE COMP "led[2]" SITE "A19";
LOCATE COMP "led[1]" SITE "B19";
LOCATE COMP "led[0]" SITE "B20";
IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

######### Onboard pushbutton #########
# Button on the main board
LOCATE COMP "btn[0]" SITE "P1";
IOBUF PORT "btn[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
# Buttons on the extension board
LOCATE COMP "btn[1]" SITE "C7";
LOCATE COMP "external_irq" SITE "D6";
IOBUF PORT "btn[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "external_irq" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;

######### SPI Flash chip #########
LOCATE COMP "flash_csn" SITE "R2";
LOCATE COMP "flash_clk" SITE "U3";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_holdn" SITE "W1";
LOCATE COMP "flash_wpn" SITE "Y2";
IOBUF PORT "flash_csn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_clk" PULLMODE=DOWN IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_holdn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_wpn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


######### PSRAM #########
LOCATE COMP "psram_cen" SITE "E19";
LOCATE COMP "psram_wen" SITE "U18";
LOCATE COMP "psram_oen" SITE "G20";
LOCATE COMP "psram_lbn" SITE "H20";
LOCATE COMP "psram_ubn" SITE "J19";

LOCATE COMP "psram_a[0]" SITE "F20";
LOCATE COMP "psram_a[1]" SITE "E20";
LOCATE COMP "psram_a[2]" SITE "D20";
LOCATE COMP "psram_a[3]" SITE "G19";
LOCATE COMP "psram_a[4]" SITE "F19";
LOCATE COMP "psram_a[5]" SITE "H18";
LOCATE COMP "psram_a[6]" SITE "G18";
LOCATE COMP "psram_a[7]" SITE "K18";
LOCATE COMP "psram_a[8]" SITE "P20";
LOCATE COMP "psram_a[9]" SITE "T20";
LOCATE COMP "psram_a[10]" SITE "U20";
LOCATE COMP "psram_a[11]" SITE "T18";
LOCATE COMP "psram_a[12]" SITE "R20";
LOCATE COMP "psram_a[13]" SITE "T19";
LOCATE COMP "psram_a[14]" SITE "N18";
LOCATE COMP "psram_a[15]" SITE "P18";
LOCATE COMP "psram_a[16]" SITE "M18";
LOCATE COMP "psram_a[17]" SITE "J18";
LOCATE COMP "psram_a[18]" SITE "P19";
LOCATE COMP "psram_a[19]" SITE "N20";
LOCATE COMP "psram_a[20]" SITE "U19";
LOCATE COMP "psram_a[21]" SITE "N17";

LOCATE COMP "psram_d[0]" SITE "C20";
LOCATE COMP "psram_d[1]" SITE "D19";
LOCATE COMP "psram_d[2]" SITE "E18";
LOCATE COMP "psram_d[3]" SITE "F18";
LOCATE COMP "psram_d[4]" SITE "L18";
LOCATE COMP "psram_d[5]" SITE "P17";
LOCATE COMP "psram_d[6]" SITE "R18";
LOCATE COMP "psram_d[7]" SITE "T17";
LOCATE COMP "psram_d[8]" SITE "J20";
LOCATE COMP "psram_d[9]" SITE "K20";
LOCATE COMP "psram_d[10]" SITE "K19";
LOCATE COMP "psram_d[11]" SITE "L19";
LOCATE COMP "psram_d[12]" SITE "L20";
LOCATE COMP "psram_d[13]" SITE "M20";
LOCATE COMP "psram_d[14]" SITE "M19";
LOCATE COMP "psram_d[15]" SITE "N19";

IOBUF PORT "psram_cen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_wen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_oen" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_lbn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_ubn" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF PORT "psram_a[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[16]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[17]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[18]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[19]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[20]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_a[21]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF PORT "psram_d[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[8]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[9]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[10]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[11]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[12]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[13]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[14]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "psram_d[15]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

######### Extension header ########
LOCATE COMP "ext[0]" SITE "E1";
LOCATE COMP "ext[1]" SITE "E2";
LOCATE COMP "ext[2]" SITE "D1";
LOCATE COMP "ext[3]" SITE "D2";
LOCATE COMP "ext[4]" SITE "B1";
LOCATE COMP "ext[5]" SITE "C2";
LOCATE COMP "ext[6]" SITE "B2";
LOCATE COMP "ext[7]" SITE "C1";
LOCATE COMP "ext[8]" SITE "B3";
LOCATE COMP "ext[9]" SITE "A2";
LOCATE COMP "ext[10]" SITE "B5";
LOCATE COMP "ext[11]" SITE "A3";
LOCATE COMP "ext[12]" SITE "B4";
LOCATE COMP "ext[13]" SITE "A4";
LOCATE COMP "ext[14]" SITE "C5";
LOCATE COMP "ext[15]" SITE "A5";
LOCATE COMP "ext[16]" SITE "A6";
LOCATE COMP "ext[17]" SITE "B6";
LOCATE COMP "ext[18]" SITE "E3";
LOCATE COMP "ext[19]" SITE "C3";
LOCATE COMP "ext[20]" SITE "C4";
LOCATE COMP "ext[21]" SITE "D3";
LOCATE COMP "ext[22]" SITE "B8";
LOCATE COMP "ext[23]" SITE "A7";
LOCATE COMP "ext[24]" SITE "B9";
LOCATE COMP "ext[25]" SITE "A8";
LOCATE COMP "ext[26]" SITE "A10";
LOCATE COMP "ext[27]" SITE "A9";
LOCATE COMP "ext[28]" SITE "A11";
LOCATE COMP "ext[29]" SITE "B10";
LOCATE COMP "ext[30]" SITE "C11";
LOCATE COMP "ext[31]" SITE "B11";
LOCATE COMP "ext[32]" SITE "C7";
LOCATE COMP "ext[33]" SITE "D6";

IOBUF PORT "ext[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[4]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[5]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[6]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[7]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[8]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[9]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[16]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[17]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[18]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[19]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[20]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[21]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[22]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[23]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[24]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[25]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[26]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[27]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[28]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[29]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[30]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[31]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[32]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "ext[33]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

######### LED & buttons extension board definitions ########
LOCATE COMP "led_a[0]" SITE "E1";
LOCATE COMP "led_a[1]" SITE "D1";
LOCATE COMP "led_a[2]" SITE "B1";
LOCATE COMP "led_a[3]" SITE "B2";
LOCATE COMP "led_a[4]" SITE "B3";
LOCATE COMP "led_a[5]" SITE "B5";
LOCATE COMP "led_a[6]" SITE "B4";
LOCATE COMP "led_a[7]" SITE "C5";
LOCATE COMP "led_a[8]" SITE "A6";
LOCATE COMP "led_a[9]" SITE "E3";
LOCATE COMP "led_a[10]" SITE "C4";
LOCATE COMP "led_a[11]" SITE "B8";
LOCATE COMP "led_a[12]" SITE "B9";
LOCATE COMP "led_a[13]" SITE "A10";
LOCATE COMP "led_a[14]" SITE "A11";
LOCATE COMP "led_a[15]" SITE "C11";

LOCATE COMP "led_b[0]" SITE "E2";
LOCATE COMP "led_b[1]" SITE "D2";
LOCATE COMP "led_b[2]" SITE "C2";
LOCATE COMP "led_b[3]" SITE "C1";
LOCATE COMP "led_b[4]" SITE "A2";
LOCATE COMP "led_b[5]" SITE "A3";
LOCATE COMP "led_b[6]" SITE "A4";
LOCATE COMP "led_b[7]" SITE "A5";
LOCATE COMP "led_b[8]" SITE "B6";
LOCATE COMP "led_b[9]" SITE "C3";
LOCATE COMP "led_b[10]" SITE "D3";
LOCATE COMP "led_b[11]" SITE "A7";
LOCATE COMP "led_b[12]" SITE "A8";
LOCATE COMP "led_b[13]" SITE "A9";
LOCATE COMP "led_b[14]" SITE "B10";
LOCATE COMP "led_b[15]" SITE "B11";

IOBUF PORT "led_a[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[4]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[5]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[6]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[7]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[8]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[9]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_a[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;

IOBUF PORT "led_b[0]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[1]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[2]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[3]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[4]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[5]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[6]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[7]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[8]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[9]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[10]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[11]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[12]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[13]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[14]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led_b[15]" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;


USE PRIMARY NET "clk" QUADRANT_TL QUADRANT_TR QUADRANT_BL QUADRANT_BR ;
